<link rel="stylesheet" href="~/css/style-order-completed.css" />

<div class="container">
    <div class="order-completed">
        <h2 class="title">Bạn đã đặt đơn hàng thành công</h2>
        <p class="desc">
            Bạn có thể kiểm tra tất cả hóa đơn trong mục hóa đơn
        </p>
        <hr />
        <p class="desc">Cảm ơn</p>
    </div>
</div>