@model IEnumerable<Product>

@{
    ViewData["Title"] = "Quản lý sản phẩm";
}

<link rel="stylesheet" href="~/css/style-brand.css" />

<div class="Brand">
    <div class="container">
        <h2 class="title">Danh sách sản phẩm</h2>
        <div class="list-brand">
            @foreach (var item in Model)
            {
                <div class="item-brand">
                    <div class="bg-logo">
                        <img src="@item.ImageURL"
                             alt=""
                             class="logo-product" />
                    </div>
                    <h3 class="name">@item.Name</h3>
                    <div class="action">
                        <a class="act act-edit" asp-action="Edit" asp-route-id="@item.Id" >Edit</a>
                        <a class="act act-details" asp-action="Manage_Details" asp-route-id="@item.Id">Details</a>
                        <a href="" class="act act-delete">Delete</a>
                    </div>
                </div>
            }
        </div>
    </div>
    @await Html.PartialAsync("_CreateItem", "Products")
</div>