<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="~/icon/themify-icons/themify-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Luxury Store</title>

    <!-- Bootstrap core CSS -->
    @*<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">*@


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="~/css/fontawesome.css">
    <link rel="stylesheet" href="~/css/owl.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/cyborg.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    @RenderSection("css", false)
</head>
<body>
    <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-lg-12"> 
          <nav class="main-nav">
                  <!-- ***** Logo Start ***** -->
                  <a href="home.html" class="logo">
                        <img src="~/images/c.png" />
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Search End ***** -->
                      <div class="search-input">
                        <form id="search" action="#">
                        <input type="text" placeholder="Nhập nội dung tìm kiếm" id='searchText' name="searchKeyword" onkeypress="handle" />
                        <i class="fa fa-search"></i>
                      </form>
                    </div>
                    <!-- ***** Search End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                      <li><a href="home.html" class="active">Trang chủ</a></li>
                      <li><a href="ShoppingCart.html">Trang Thanh Toán </a></li>        
                      <li><a href="signup.html" class="js-signup">Đăng ký</a></li>
                      <li><a href="login.html" class="js-login">Đăng nhập</a></li>           
                      <li><a href="#">
                          <!-- shopping -->                         
                          <span class="shopping">
                            <img src="" alt="" class="ti-shopping-cart profile-cart" >       
                            <span class="quantity">0</span>       
                          </span>                     
                        </a>  
                        </li>                    
                      </ul>   
                      <a class='menu-trigger'>
                        <span> menu</span>                   
                      </a>
                  </div>
                  <!-- ***** Menu End ***** -->
                </nav>
              </div>
            </div>
          </div>
  </header>
    
    <main>
        @RenderBody()
    </main>
    <footer class="footer">
        
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Địa chỉ: NVC nối dài, Phường An Khánh, Quận Hai Ninh Kiều, Thành phố Cần Thơ, Việt Nam

                        <br>Hotline: 0819885953
                    </p>
                </div>
            </div>
        </div>
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/isotope.min.js"></script>
    <script src="~/js/owl-carousel.js"></script>
    <script src="~/js/tabs.js"></script>
    <script src="~/js/popup.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/app.js"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
