<link rel="stylesheet" href="~/css/style-create.css"/>

<div class="container">
    <div class="create">
        <h2 class="title">Lỗi không tìm thấy ID</h2>
        <a class="btn" asp-action="Index">Quay lại</a>
    </div>
</div>