@using doan1.Data.ViewModels;
@model LoginVM;

@{
    ViewData["Title"] = "Đăng nhập";
}

<link rel="stylesheet" href="~/css/style-login.css" />

<div class="center-item">
    <form asp-action="Login" class="login-container">
        <h2 class="title">Đăng nhập</h2>
        @if(TempData["Error"] != null)
        {
            <p class="error">@TempData["Error"]</p>
        }
        <div class="form-login">
            <label asp-for="EmailAddress" class="form-label"></label>
            <input asp-for="EmailAddress" type="text" class="form-input" />
            <span asp-validation-for="EmailAddress" class="text-error"></span>
        </div>
        <div class="form-login">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" type="password" class="form-input" />
            <span asp-validation-for="Password" class="text-error"></span>
        </div>
        <div class="form-login">
            <input type="submit"
                   value="Đăng nhập"
                   class="submit-input" />
            <a class="btn-cancel" asp-controller="Products" asp-action="Index"><p>Hủy bỏ</p></a>
        </div>
    </form>
</div>