@model Brand

@{
    ViewData["Title"] = "Xóa thương hiệu";
}

<link rel="stylesheet" href="~/css/style-create.css" />

<div class="container">
    <div class="create">
        <h2 class="title">Xóa @Model.Name</h2>
        <div class="container-create">
            <div class="bg-previewurl">
                <img src="~/lib/camera-solid.svg"
                     alt=""
                     class="not-preview" />
                <img class="previewurl" id="previewurl" />
            </div>
            <div class="form-create">
                <label asp-for="Logo" class="form-label"></label>
                <input asp-for="Logo" class="form-input" readonly/>
                <span asp-validation-for="Logo" class="text-error"></span>
            </div>
            <div class="form-create">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-input" readonly />
                <span asp-validation-for="Name" class="text-error"></span>
            </div>
            <div class="form-create">
                <label asp-for="Address" class="form-label"></label>
                <input asp-for="Address" class="form-input" readonly />
                <span asp-validation-for="Address" class="text-error"></span>
            </div>
            <div class="form-create">
                <label asp-for="PhoneNumber" class="form-label"></label>
                <input asp-for="PhoneNumber" class="form-input" readonly />
                <span asp-validation-for="PhoneNumber" class="text-error"></span>
            </div>
            <div class="form-create">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-input" readonly />
                <span asp-validation-for="Email" class="text-error"></span>
            </div>
            <div class="form-create">
                <label asp-for="Description" class="form-label"></label>
                <input asp-for="Description" class="form-input" readonly />
                <span asp-validation-for="Description" class="text-error"></span>
            </div>
            <div class="act-bottom form-create">
                <form asp-action="Delete">
                    <input type="hidden" asp-asp-for="Id"/>
                    <input type="submit" value="Xóa" class="act-input"/>
                </form>
                <a class="btn" asp-action="Index">Xem danh sách</a>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var output = document.getElementById('previewurl');
            output.src = $("#Logo").val();
        })
    </script>
}